<div class="editing-mediabrowser-preview">
  <span class="editing-icon editing-icon-generic"></span>
</div>

<div class="editing-mediabrowser-meta">
  <span class="editing-mediabrowser-thumbnails-name">
    <%= hit.headline || hit.name %>
  </span>

  <span class="editing-mediabrowser-thumbnails-select select-item <%= (selected ? 'active' : '') %>"></span>
</div>
