<div class="editing-resourcebrowser-preview">
  <%= cms_image_tag(hit) %>
</div>

<div class="editing-resourcebrowser-meta">
  <span class="editing-resourcebrowser-thumbnails-name">
    <%= hit.title || hit.name %>
  </span>

  <span class="editing-resourcebrowser-thumbnails-select select-item <%= (selected ? 'active' : '') %>"></span>
</div>
