- if flash[:alert].present?
  .alert.alert-danger
    %button.close{type: 'button', data: { dismiss: 'alert' }}
      &times;

    = flash[:alert]

- if flash[:notice].present?
  .alert.alert-success
    %button.close{type: 'button', data: { dismiss: 'alert' }}
      &times;

    = flash[:notice]

- if flash[:warning].present?
  .alert.alert-warning
    %button.close{type: 'button', data: { dismiss: 'alert' }}
      &times;

    = flash[:warning]

- if flash[:info].present?
  .alert.alert-info
    %button.close{type: 'button', data: { dismiss: 'alert' }}
      &times;

    = flash[:info]
