<hr />

<div class="footer">
  <div class="row">
    <div class="col-md-9">
      <p>
        &copy; 2014 Company, Inc.
      </p>
    </div>

    <div class="col-md-3 text-right">
      <p>
        <small class="muted">
          Powered by

          <%= link_to('Scrivito', 'http://scrivito.com', title: 'A professional Cloud CMS built for Ruby on Rails.') %>
        </small>
      </p>
    </div>
  </div>
</div>
