<ul class="nav navbar-nav navbar-right">
  <% if homepages.count > 1 %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">
        Language:

        <%= current.locale %>

        <b class="caret"></b>
      </a>

      <ul class="dropdown-menu">
        <% homepages.each do |homepage| %>
          <% next if current == homepage %>

          <%= link_to(cms_path(homepage)) do %>
            <%= homepage.locale %>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% else %>
    <li>
      <a>
        Language:

        <%= current.locale %>
      </a>
    </li>
  <% end %>
</ul>
