<ul class="nav navbar-nav navbar-right">
  <li>
    <% if login_page.present? %>
      <% if current_user.logged_in? %>
        <%= button_to(cms_path(login_page), method: :delete, class: 'btn btn-danger navbar-btn') do %>
          Log out
        <% end %>
      <% else %>
        <%= button_to(cms_path(login_page), method: :get, class: 'btn btn-success navbar-btn') do %>
          Log in
        <% end %>
      <% end %>
    <% end %>
  </li>
</ul>
