# OS related files
.DS_Store

# Kickstarter gem related files
.bundle/
.yardoc
.rspec
/.env
/Gemfile.lock
pkg/
doc/
coverage/

# Ignore generated test files or configuration files in test applications.
tmp/generators/
spec/dummy/log/
spec/dummy/config/secrets.yml
spec/dummy/tmp/
