# OS related files
.DS_Store

# Kickstarter gem related files
.bundle/
.yardoc
.rspec
/Gemfile.lock
pkg/
doc/

# Kickstarter configuration files
config/scrival.yml

# Sublime editor files
*.sublime-project
*.sublime-workspace

# Ignore randomly generated test files or configuration files in test
# applications.
tmp/generators/
tmp/test_app/log/
tmp/test_app/config/*.yml
tmp/test_app/config/initializers/secret_token.rb
tmp/test_app/tmp/
tmp/test_app/cms/migrate/
tmp/test_app/app/widgets/**/migrate/
spec/dummy/log/
spec/dummy/config/*.yml
spec/dummy/tmp/
