<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-presentation"></span>
  </div>

  <div class="title">
    Slideshare
  </div>

  <div class="description">
    Creates a widget that shows a slide from slideshare.
  </div>
</div>
