.editing-dialog-thumbnail
  .visualization
    %i.thumbnail-icon.editing-icon-image

  .title
    Text-Image

  .description
    Widget that holds an image with text. The text floats left or right around
    the image.
