.social_sharing
  = render('layouts/social_sharing/facebook', url: url)
  = render('layouts/social_sharing/google', url: url)
  = render('layouts/social_sharing/twitter', url: url)
  = render('layouts/social_sharing/linkedin', url: url)
