- if page.respond_to?(:show_breadcrumbs?) && page.show_breadcrumbs?
  %ol.breadcrumb
    - page.breadcrumbs.each do |obj|
      - if obj == page
        %li.active>
          = display_field(obj, :headline)

      - else
        %li>
          = link_to(cms_path(obj)) do
            = display_field(obj, :headline)
