<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-map"></span>
  </div>

  <div class="title">
    Google Maps
  </div>

  <div class="description">
    Integrates a map that displays a pin for a given address.
  </div>
</div>
