<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-teaser"></span>
  </div>

  <div class="title">
    Teaser
  </div>

  <div class="description">
    Adds a teaser with a big headline and call-to-action button.
  </div>
</div>
