- previous_post = post.previous_post
- next_post = post.next_post

%ul.pager
  - if previous_post.present?
    %li.previous
      = link_to(cms_path(previous_post)) do
        %span.glyphicon.glyphicon-chevron-left

        = display_field(previous_post, :headline)

  - if next_post.present?
    %li.next
      = link_to(cms_path(next_post)) do
        = display_field(next_post, :headline)

        %span.glyphicon.glyphicon-chevron-right
