/*
  Flickr Badge
*/

.flickr-badge a {
  background: #fcfcfc;
  border: 1px solid #f6f6f6;
  float: left;
  margin: 0 10px 10px 0;
  padding: 2px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.flickr-badge a:hover {
  border: 1px solid #428bca;
}
