<div class="media">
  <% if short_post.author_email.present? %>
    <%= render('gravatar', email: short_post.author_email, size: 35) %>
  <% end %>

  <div class="media-body">
    <h5 class="media-heading">
      <%= link_to(cms_path(short_post)) do %>
        <%= cms_tag(:span, short_post, :headline) %>
      <% end %>
    </h5>
  </div>
</div>

<%= truncate(strip_tags(cms_tag(:div, short_post, :main_content)), length: 150) %>
