%hr

%footer
  .row
    .col-md-9
      %p
        &copy; 2014 Company, Inc.

    .col-md-3.text-right
      %p
        %small.muted
          Powered by

          = link_to('Scrival', 'http://scrival.com', title: 'A professional Cloud CMS built for Ruby on Rails.')
