<div class="alert alert-danger">
  <h4>
    Redirect Page
  </h4>

  <% if @obj.redirect_link %>
    <p>
      This page is <strong>not</strong> displayed in production, instead the visitor is redirected
      to: <%= link_to(cms_path(@obj.redirect_link), cms_path(@obj.redirect_link)) %>
    </p>
  <% else %>
    <p>
      You don't have a redirect target configured. Please use the <strong>editor</strong> below
      to configure a redirect target.
    </p>
  <% end %>
</div>

<%= cms_edit_link(@obj, :redirect_link) %>
