.editing-dialog-thumbnail
  .visualization
    %i.thumbnail-icon.editing-icon-refresh

  .title
    Redirect

  .description
    A redirect page is a CMS page that forwards the visitor to another URL. The URL can be an internal or external link.
