.editing-dialog-thumbnail
  .visualization
    %i.thumbnail-icon.editing-icon-headline

  .title
    Headline

  .description
    The headline widget displays a page heading and allows to set an anchor.
