.editing-mediabrowser-preview
  = cms_image_tag(hit)

.editing-mediabrowser-meta
  %span.editing-mediabrowser-thumbnails-name
    = hit.title || hit.name

  %span.editing-mediabrowser-thumbnails-select.select-item{class: ('active' if selected)}
