<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-1col"></span>
  </div>

  <div class="title">
    Accordion Panel
  </div>

  <div class="description">
    Displays a collapsible content panel inside an accordion widget.
  </div>
</div>
