.editing-mediabrowser-body
  .editing-mediabrowser-wrapper
    = render 'header'

    .editing-mediabrowser-filter

    .editing-mediabrowser-items

  .editing-mediabrowser-inspector

= render 'buttons'
