<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-video"></span>
  </div>

  <div class="title">
    YouTube
  </div>

  <div class="description">
    Displays a youtube video player for the given youtube link.
  </div>
</div>
