<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-slider"></span>
  </div>

  <div class="title">
    Slider
  </div>

  <div class="description">
    Creates a rotating slider gallery from a list of images.
  </div>
</div>
