<div class="details-view">
  <h4>
    Bootswatch Theme
  </h4>

  <p>
    You can select one of the Bootswatch themes to customize the look and feel of your webpage. All
    themes work well together with Twitter Bootstrap and its responsive design.
  </p>

  <%= cms_tag(:div, @obj, :theme, data: { editor: 'bootswatch' }) %>
  
  <h4>
    Error not found page
  </h4>

  <%= cms_tag(:div, @obj, :error_not_found_page, data: { filter: 'error_pages' }) %>
</div>
