<div class="details-view">
  <h4>
    Source
  </h4>

  <div class="alert alert-info">
    Please be aware, that not every possible source URL can be displayed in an iframe, because of
    restrictions set by its owner.
  </div>

  <%= cms_edit_linklist(widget, :source) %>

  <h4>
    Height
  </h4>

  <%= cms_tag(:div, widget, :height) %>

  <h4>
    Width
  </h4>

  <%= cms_tag(:div, widget, :width) %>


  <h4>
    Scrolling
  </h4>

  <%= cms_edit_enum(widget, :scrolling) %>
</div>
